*{
	margin-left:17px;
	margin-right:17px;
}

header{
	width: 100%;
	background-color: #5B57DB;
}

header h1{
	text-align:center;
	margin: 0%;
	font-family: monaco, Consolas, Lucida Console, monospace;
	font-size: 120px;
}

header img{
	float: left;
	padding-top: 20px;
}
